# --- Ambiente Virtual ---
venv/
env/

# --- Configurações Privadas e Dados Sensíveis ---
config.json
.env

# --- Arquivos de Log e Dados Locais ---
runs/
capturas/
alerta.jpg
alerta_*.jpg
historico_falhas.csv

# --- Pesos e Modelos da Inteligência Artificial ---
*.pt
!models/best.pt

# --- Pastas de Dataset ---
3D-printing-failure-1/
datasets/

# --- Arquivos de Cache e Sistema (VS Code, Python, Windows/Mac) ---
.vscode/
__pycache__/
*.pyc
.DS_Store
Thumbs.db